@charset "euc-kr";

body#main {min-width: 1560px;}

/* visual */
.visual-wrap {width:100%;min-width: 1260px;height:531px;position:relative;overflow:hidden;background: url(../images/visual_bg.jpg) repeat-x 50% 100%;border-top:1px solid #e5e5e5;}
.visual-wrap.v2 {background: url(../images/visual_bg2.jpg) repeat-x 50% 100%;}
.visual-wrap .visual_area {width:1260px;margin:auto;padding:50px 0 35px;text-align:center;}
.visual-wrap .visual_area img {display:inline-block;}

/* intro */
.content section .intro_ul {width:100%;height:807px;background:url('../images/intro_bg.jpg')no-repeat 50% 50%;}
.content section .intro_ul:after {content:'';display:block;clear:both;}
.content section .intro_ul li {float:left;position:relative;width:50%;height:100%;}
.content section .intro_ul li dl {position:absolute;left:-99999px;font-size:0;}
.content section .intro_ul li > a {position:absolute;left:30px;top:245px;width:285px;line-height:1.5;padding:14px 0;font-size:20px;font-weight:bold;color:#333;text-align:center;background:#fff;border-radius:88px;}

/* contents */
#contents.main_page {width:100%;padding:0;border-top:none;}
#contents.main_page .content {display:block;padding:80px 0 90px;}
#contents.main_page .content.gray {padding:80px 0 90px;background:#f2f2f2;}
.content.glay {background:#fff;}
.content section {width:1260px;margin:auto;}
.content section .tit {display:block;text-align:left;padding:0 0 25px;}
.content section .tit h2 {line-height:1;font-size:44px;font-weight:normal;color:#000;text-align:center;}
.content section .tit img {display:inline-block;}
.content section .tit span {display:block;line-height:1;margin:18px 0 0;font-size:18px;font-weight:normal;color:#999;}
.content section .tit .ment {line-height:1;padding:28px 0 0;font-size:24px;color:#221e1f;}
.content section .tit .ment span {line-height:1;padding:12px 0 0;margin:0;font-size:18px;color:#888;} 

.content.gray section .tit {text-align:center;padding:0 0 35px;}
.content.gray section .tit h2 {line-height:1;font-size:30px;font-weight:normal;}
.content.gray section .tit span {display:block;line-height:1;margin:0 0 15px;font-size:24px;font-weight:normal;color:#7a7a7a;}

.hire_area.main .detail_search {display:block;padding:0 0 30px;}
.hire_area.main .detail_search:after {content:''; display:block; clear:both;}
.hire_area.main .sch_area {position:relative;display:block;height:60px;margin:40px 0 20px;text-align:right;box-sizing:border-box;}
.hire_area.main .sch_area:after {content:'';display:block;clear:both;}
.hire_area.main .sch_area > .sch_box {width:50%;display:inline-block;padding:0 62px 0 0;border:5px solid #aacae6;box-sizing:border-box;} 
.hire_area.main .sch_area > .sch_box input,
.hire_area.main .sch_area > .sch_box p {width:100%;line-height:50px;height:50px;font-size:16px;color:#999;text-indent: 15px;border:none;}
.hire_area.main .sch_area > .sch_box button {position:absolute;right:4px;top:0;width:62px;height:60px;font-size:0;border:none;background:url(../images/main_sch_icon.png)no-repeat;cursor: pointer;}
.hire_area.main .sch_area > .sch_box button {background-position:0 0;}
.hire_area.main .sch_area > .sch_box .open {right:-5px;background-position: 0 -211px;}
.hire_area.main .sch_area > .sch_box .open.off {right:-5px;background-position: 0 -100px;}
.hire_area.main .sch_area > .sch_box .ha_reset {position:absolute;right:0;top:-45px;width:98px;height:32px;font-size:0;background: url(../images/ha_reset.png) no-repeat 50% 50%;}
.hire_area.main .detail_search dl {float:left;width:395px;height: 266px;margin-left:-1px;border:1px solid #d6d6d6;box-sizing: border-box;}
.hire_area.main .detail_search dl:first-child {border:1px solid #d6d6d6;border-width:1px 1px 1px 1px;}
.hire_area.main .detail_search dl:after {content:''; display:block; clear:both;}
.hire_area.main .detail_search dl dt {width:100%;line-height:60px;font-size:16px;color:#000;text-align:center;background:#e4e8ee;border-bottom:1px solid #d6d6d6;}
.hire_area.main .detail_search dl dd {height: 204px;overflow-y:auto;}
.hire_area.main .detail_search dl dd ul:after {content:'';display:block;clear:both;}
.hire_area.main .detail_search dl dd ul li {width:100%;}
.hire_area.main .detail_search dl.ds.duty dd ul li {float:left;width:50%;border-bottom: 1px solid #fff;}
.hire_area.main .detail_search dl label.radiobox,
.hire_area.main .detail_search dl label.checkbox {display:block;width:100%;height:40px;margin:0;padding-left:20px;text-align:left;background:none;box-sizing:border-box;}
.hire_area.main .detail_search dl label.radiobox.on,
.hire_area.main .detail_search dl label.checkbox.on {background:#dbf2fc url(../images/detail_search_on.jpg) no-repeat 90% 50%;}
.hire_area.main .detail_search dl label.radiobox.on span,
.hire_area.main .detail_search dl label.checkbox.on span {color:#006cff;}
.hire_area.main .detail_search dl label.radiobox span,
.hire_area.main .detail_search dl label.checkbox span {line-height:40px;font-size:14px;color:#000;}
.hire_area.main .detail_search dl label.radiobox input,
.hire_area.main .detail_search dl label.checkbox input {display:none;}
.hire_area.main .detail_search dl.duty dd {float:left;width:100%;height: 204px;overflow-y:auto;box-sizing:border-box;}
.hire_area.main .detail_search dl.duty dd:nth-child(2) {}
.hire_area.main .detail_search dl.area {width:217px;}
.hire_area.main .detail_search dl.career {width:217px;}
.hire_area.main .detail_search dl.edu {width:217px;}
.hire_area.main .detail_search dl.work_form {width:217px;}

.hire_area .detail_search + .result {display:block;height:66px;padding:20px;box-sizing:border-box;border: 1px solid #d6d6d6;border-width: 0 1px 1px;}
.hire_area .detail_search + .result .r_area {display:table;width:100%;height:100%;}
.hire_area .detail_search + .result .r_box {display:table-cell;font-size:14px;color:#000;vertical-align:middle;text-align:left;}
.hire_area .detail_search + .result .r_box .r_div {display:inline-block;margin-left:30px;}
.hire_area .detail_search + .result .r_box .r_div:first-child {margin:0;}
.hire_area .detail_search + .result .r_box div {display:inline-block;}
.hire_area .detail_search + .result .r_box .r_head {line-height:25px;font-size:14px;color:#00b7ee;vertical-align: top;}
.hire_area .detail_search + .result .r_box .r_head span {padding-right:17px;font-size:14px;color:#000;background:#fff url(../images/result_arrow.png) no-repeat 100% 50%;}
.hire_area .detail_search + .result .r_item {line-height: 25px;padding:0 0 0 5px;vertical-align:top;box-sizing:border-box;}
.hire_area .detail_search + .result .r_item ul:after {content:''; display:block; clear:both;}
.hire_area .detail_search + .result .r_item ul li {line-height:25px;float:left;margin-right:5px;}
.hire_area .detail_search + .result .r_item ul li button {width:auto;line-height:25px;margin:0;padding:0 15px 0 0;font-size:14px;background:#fff url(../images/result_item_close.png) no-repeat 98% 50%;border:none;}

.hire_area.main .btn_area {display:block;margin:0 0 50px;padding:15px 0 0;font-size:0;text-align:center;}
.hire_area.main .btn_area > button {width:160px;line-height:48px;margin:0 0 0 10px;padding:0;font-size:14px;color:#000;background:#fff;border:1px solid #dbdbdb;}
.hire_area.main .btn_area > button.blue {background:#006cff;color:#fff;border:1px solid #006cff;}
.hire_area.main .btn_area > button.white {color:#000;background:#fff;border:1px solid #dbdbdb;}}

.content section .hire_list {display:block;}
.content section .hire_list .hl_sel {text-align:right;padding:0 0 35px;}
.content section .hire_list .hl_ul {width: calc(100% + 8px);margin: -15px 0 0 -8px;}
.content section .hire_list .hl_ul:after {content:''; display:block; clear:both;}
.content section .hire_list .hl_ul li {float:left;width:25%;padding:15px 0 0 8px;box-sizing:border-box;}
.content section .hire_list .hl_ul li a {display:block;padding:20px 15px 12px 20px;border:1px solid #dcdcdc;background:url('../images/hire_list_bg.jpg') repeat-x 0 0;}
.content section .hire_list .hl_ul li a .hl_logo {display:block;height:30px;padding:0 0 20px;}
.content section .hire_list .hl_ul li a .hl_logo img {height:100%;}
.content section .hire_list .hl_ul li a .hl_name {display:block;width:100%;}
.content section .hire_list .hl_ul li a .hl_name em {display:block;line-height:1.2;padding:0 0 15px;font-size:15px;color:#006cff;}
.content section .hire_list .hl_ul li a .hl_name span {display:block;line-height:1.2;padding:30px 0 0;font-size:14px;color:#999;}
.content section .hire_list .hl_ul li a .hl_name .hl_txt {display:block;width:100%;overflow:hidden;padding:0;font-size:15px;color:#000;text-overflow: ellipsis;white-space: nowrap;}
.content section .hire_list .hl_ul li a .hl_status {display:block;padding:50px 0 0;text-align:right;}
.content section .hire_list .hl_ul li a .hl_s {display:inline-block;line-height:20px;font-size:14px;}
.content section .hire_list .hl_ul li a .hl_s.date {color:#999;}
.content section .hire_list .hl_ul li a .hl_s.end {color:#fd4812}
.content section .hire_list .hl_ul li a .hl_s.now {padding:0 5px;margin-left:5px;font-size:12px;color:#fff;background:#006cff;}

.content section .paging-area {display:block;text-align:center;margin:60px 0 0;}
.content section .paging-area a,
.content section .paging-area strong {display:inline-block;width:38px;height:38px;line-height:38px;font-size:14px;color:#999;border:1px solid #bdbdbd;background:#fff;vertical-align:top;}
.content section .paging-area a:hover,
.content section .paging-area strong {border:1px solid #006cff;color:#006cff;font-weight:bold;}

.content section .service_ul:after {content:'';display:block;clear:both;}
.content section .service_ul {width: calc(100% + 1px);}
.content section .service_ul li {float:left;border:1px solid #fff;margin:-1px 0 0 -1px;}
.content section .service_ul li > a {display:block;}

/* 페이징 */
.pagingArea{clear:both;padding:30px 0 0;text-align:center;font-size:0;}
.pagingArea *{vertical-align:top;}
.pagingArea span,
.pagingArea strong,
.pagingArea a {display:inline-block;width:37px;height:37px;position:relative;;font-size:14px;color:#999;line-height:37px;}
.pagingArea strong{margin-left:3px;border:1px solid #006cff;font-weight:bold;color:#006cff;line-height:37px}
.pagingArea a{margin-left:3px;background-color:#fff;border:1px solid #cfcfcf;}
.pagingArea a:first-child{margin-left:0;}
.pagingArea span{font-size:0;text-indent:-9999em;}
.pagingArea span:after{content:"";display:inline-block;clear:both;width:6px;height:9px;background:url(../images/jobs/sprite_bg.png) no-repeat;vertical-align:middle;}
.pagingArea .prev:after{position:absolute;top:14px;left:15px;background-position:-59px -129px;}
.pagingArea .next:after{position:absolute;top:14px;left:15px;background-position:-49px -129px;}

/* select */
span.selectbox{position:relative;display:inline-block;height:36px;overflow:hidden;vertical-align:middle;}
span.selectbox span{display:block;height:auto;overflow:hidden;line-height: 34px;padding:0 38px 0 10px;font-size:13px;color:#999;text-align:left;background:#fff url(../images/members/ico_form.png) no-repeat 100% -1168px;border:1px solid #dbdbdb;letter-spacing:-0.075em;}
span.selectbox span.on {border:1px solid #00b7ee;color:#000;}
span.selectbox select{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;margin:0;padding:0;opacity:0;filter:alpha(opacity=0);}
span.selectboxfocus {color:#000;}
span.selectbox.mr5 {margin-right:5px;}
span.selectbox.ml5 {margin-left:5px;}
span.selectbox.mt5 {margin-top:5px;}
span.selectbox.mb5 {margin-bottom:5px;}
span.selectbox.mr10 {margin-right:10px;}
span.selectbox.ml10 {margin-left:10px;}
span.selectbox.mt10 {margin-top:10px;}
span.selectbox.mb10 {margin-bottom:10px;}

/* lnb */
#lnb {width:1260px;height:0;margin:auto;text-align:left;}
#lnb .lnb_area {display:inline-block;position:relative;width:205px;margin-left:-225px;}
#lnb .lnb_area .lnb_box {position:absolute;top:30px;z-index: 100;}
#lnb .lnb_area .lnb_box > a {display:block;}
#lnb .lnb_area .lnb_box.fixed {position:fixed;top:53px;}

/* rnb */
#rnb {width:1260px;height:0;margin:auto;text-align:right;}
#rnb .rnb_area {display:inline-block;position:relative;width:122px;margin-right:-143px;}
#rnb .rnb_area .rnb_box {position:absolute;top:33px;width:122px;padding:20px 0 0;text-align:center;border:1px solid #e5e5e5;border-radius:20px;z-index: 100;background:#fff;}
#rnb .rnb_area .rnb_box ul li {margin-top:20px;}
#rnb .rnb_area .rnb_box ul li:first-child {margin:0;}
#rnb .rnb_area .rnb_box ul li a {display:inline-block;line-height:1.3;font-size:14px;color:#323031;}
#rnb .rnb_area .rnb_box ul li a:before {content:'';display:block;width:46px;height:58px;margin:0 auto 5px;background:url('../images/common/rnb_menu_icon.png') no-repeat;}
#rnb .rnb_area .rnb_box ul li:first-child a:before {background-position:0 0;}
#rnb .rnb_area .rnb_box ul li:nth-child(2) a:before {height:47px;background-position:0 -123px;}
#rnb .rnb_area .rnb_box ul li:nth-child(3) a:before {height: 48px;background-position:0 -218px;}
#rnb .rnb_area .rnb_box ul li:nth-child(4) a:before {background-position: 0 -313px;}
#rnb .rnb_area .rnb_box.fixed {position:fixed;top:53px;}
#rnb .rnb_area .rnb_box p {padding:73px 0 0;line-height:1.3;font-size:20px;color:#000;text-align:center;}
#rnb .rnb_area .rnb_box span {display:inline-block;margin:2px 0 10px; font-size:13px;color:#696969;}

#rnb .rnb_area .rnb_box .rnb_top {display:block;padding:30px 0 0;margin-bottom: -25px;text-align:center;}
#rnb .rnb_area .rnb_box .rnb_top > a {display:inline-block;text-align:center;}
#rnb .rnb_area .rnb_box .rnb_top > a img {display:inline-block;width:auto;height:auto;}

.rnb_ment {display:none;width:146px;height:111px;position:absolute;left:0;top:0;margin:-112px 0 0 -38px;padding:6px 10px 0;box-sizing:border-box; background: url(../images/rnb_ment_bg.png)no-repeat 50% 50%;z-index:300;}
.rnb_ment > p {line-height:1.2;font-size:14px;color:#000;text-align:center;}
.rnb_ment > p > span{margin:0;padding:0;}
.rnb_ment > p > span.red {color:#db4437;}
.rnb_ment > p > span.blue {color:#4285f4;}

/* 준비중 */
#contents.preparing {border:none;}
#contents.preparing .content {padding:30px 0 40px;}
.preparing_ul:after {content:'';display:block;clear:both;}
.preparing_ul li {float:left;width:50%;padding:0 0 0 40px;box-sizing:border-box;}
.preparing_ul li:first-child {padding:0;}
.preparing_ul li img {display:block;width:100%;}
.preparing_ul li .pu_info .tit {padding:0 0 25px;border-bottom:1px solid #e5e5e5;}
.preparing_ul li .pu_info .tit p {line-height:1;font-size:30px;color:#000;font-weight:bold;}
.preparing_ul li .pu_info .tit p > span {display:inline-block;margin:0;padding:0;font-size:30px;color:#e94c1f;font-weight:bold;}
.preparing_ul li .pu_info > p {line-height:1.5;padding:10px 0 5px;font-size:20px;color:#000;font-weight:bold;}
.preparing_ul li .pu_info > dl dt {position:relative;line-height:1;padding:20px 0 10px;font-size:18px;color:#000;}
.preparing_ul li .pu_info > dl dt.event {line-height:27px;padding:25px 0 10px;}
.preparing_ul li .pu_info > dl dt.event .detail_btn {position:absolute;top:24px;left:110px;width:92px;height:27px;text-align:center;font-size:13px;color:#fff;background:#02558b;border-radius:27px;border:none;vertical-align:middle;}
.preparing_ul li .pu_info > dl dd {line-height:1.5;padding:0;font-size:18px;color:#000;}
.preparing_ul li .pu_info > .movie {margin:25px 0 0;}

/* landing */
.visual-wrap.landing {height:700px;background:#fcdddb url(../images/visual_landing_bg.png) repeat-x 50% 0%;border-bottom:none;}
.visual-wrap.landing .visual_area {position:relative;}
.visual-wrap.landing .visual_area:after {content:'';display:block;position:absolute;left:50%;bottom:0;width:1920px;height:142px;margin-left:-960px;background:url(../images/landing_con1_bg.png) no-repeat 50% 0;}
#contents.landing_page {background:#02558b;border-top:none;}
#contents.landing_page h2 {text-align:center;padding:0 0 25px;}
#contents.landing_page .landing_con {position:relative;display:block;padding:0 0 65px;text-align:center;}
#contents.landing_page .landing_con .btn_area {text-align:center;}
#contents.landing_page .landing_con .btn_area a {display:inline-block;margin:30px 8px 0;}
#contents.landing_page .landing_con .btn_area.con1 {position:absolute;left:0;bottom:325px;width:100%;}
#contents.landing_page .landing_con .btn_area.con1 a {margin:0 35px;}

/* 24시간 popup */
#dim {bottom: 0; left: 0; opacity: 0.5; filter: alpha(opacity = 50); /* IE7 & 8 */ position: fixed; right: 0; top: 0; z-index:200;}
#pop.pop,
#pop.pop_up {visibility: hidden;position:absolute;top:60px;left:287px;z-index:1000;border:1px solid #757575;}
#pop.pop .cont {width:auto;}
#pop.pop .cont img {width:100%;}
#pop.pop .close {background:#efefef;padding:15px 15px;box-sizing: border-box;}
#pop.pop .close #check {color:#333;float:left;font-size:15px;line-height:1;}
#pop.pop .close #check input,
#pop.pop .close #check label {cursor: pointer;}
#pop.pop .close #close {color:#333;float:right;font-size:15px;line-height:1;font-weight:bold;}
#pop2 {position:absolute;top:50px;left:630px;z-index:1000;border:1px solid #757575;}
#pop2 .cont {width:auto;}
#pop2 .cont img {width:100%;}
#pop2 .close2 {background:#efefef;padding:15px 15px;box-sizing: border-box;overflow:hidden;}
#pop2 .close2 #check2 {color:#333;float:left;font-size:15px;line-height:1;}
#pop2 .close2 #check2 input,
#pop2 .close2 #check2 label {cursor: pointer;}
#pop2 .close2 #close2 {color:#333;float:right;font-size:15px;line-height:1;font-weight:bold;}
.pop .pop_footer,
.pop_up .pop_footer {display:block;padding:10px;background:#fff;}
.pop .pop_footer:after,
.pop_up .pop_footer:after {content:'';display:block;clear:both;}
.pop .pop_footer input[type=checkbox],
.pop_up .pop_footer input[type=checkbox] {margin:0 10px 0 0;vertical-align:middle;}
.pop .pop_footer input[type=checkbox] + label,
.pop_up .pop_footer input[type=checkbox] + label {line-height:14px;font-size:14px;color:#666;}
.pop .pop_footer a,
.pop_up .pop_footer a {float:right;font-size:14px;}

/* 준비중 이벤트 팝업 */
.pop_dim {display:none;width:100%;height:100%;position:fixed;left:0;top:0;z-index:500;background: #000;opacity: .5;}
.pop_dim.double {background:none;}
.popup.event {display:none;position:absolute;left:50%;z-index:600;width:700px;margin-left:-350px;background:#fff;border: 1px solid #c0b7d3;}
.popup.event .pop_wrap {position:relative;padding: 75px 60px 60px;}
.popup.event .pop_wrap > img {width:100%;}
.popup.event .layer_close {position:absolute;width:25px;height:25px;right:35px;top:20px;;font-size:0;background: url(../images/popup_close.png)no-repeat;}

/* 회원가입 완료 */
.popup.small {width:500px;margin-left:-250px;}
.popup.small .pop_wrap {position:relative;padding: 30px 28px;}
.popup.small .pop_con {padding:20px 0;}
.popup.small .pop_footer {position:relative;padding:0;}
.popup.small .pop_footer .btn_area .btn{display:inline-block;width:auto;height: 35px;padding:0 10px;margin:0 0 0 5px;line-height: 35px;text-align:center;font-size: 15px;box-sizing:border-box;}
.popup.small .pop_footer .btn_area .btn.gray {background:#ccc;color:#666;}
.popup.small .pop_footer .btn_area .btn.white {background::#fff;color:#999;border:1px solid #ccc;}

.popup.small .pop_con .sign_up.complete {display:block;}
.popup.small .pop_con .sign_up.complete > p {line-height:2;font-size:15px;text-align:center;color:#333;padding: 20px 0;}
.popup.small .pop_con .sign_up.complete > p span {display:block;line-height:1;font-weight:bold;font-size:23px;padding: 0 0 30px;}
.popup.small .pop_con .sign_up.complete label.checkbox {position: absolute;bottom: 30px;left: 30px;z-index: 100;}

@media screen and (max-width: 2000px) {
	.visual-wrap .bx-wrapper .bx-controls-direction a {display:none;}
}

@media screen and (max-width: 1600px) {
	body#main {min-width: 1560px;}
	body.iframe_view {min-width:100%;}
}

/* //CSS */


